---
layout: archive
author_profile: true
excerpt: "This is Liang Zerui's personal website. This site is designed to collect and store the author's research articles, learning notes and projects."
header:
  overlay_image: header3.jpg
  overlay_filter: 0.2
  caption: "Photo credit: [**ArecRui**]()"
  cta_label: "About the author"
  cta_url: ""

---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
