---

title: "Portfolio"
layout: splash
excerpt: "Projects proudly presented by Mr. Liang Zerui."
sitemap: false
permalink: 

header:
  overlay_image: RGB.jpg
  overlay_filter: 0.4
  caption: "Photo credit: [**ArecRui**]()"
  cta_label: "More Info"
  cta_url: ""
  
gallery1:
  - url: 1.jpg
    image_path: 1.jpg
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - url: 2.jpg
    image_path: 2.jpg
    alt: "placeholder image 2"
    title: "Image 2 title caption"
    
feature_row:
  - image_path: 1.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "[This is some sample content that goes here with **Markdown** formatting.](www.baidu.com)"
  - image_path: 2.jpg
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: 3.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    
---



This is a test page of portfolio。

{% include gallery id="gallery1" caption="This is a sample gallery with **Markdown support**." %}
{% include feature_row %}